  body {
            background-color: #f1f6f9;
        }
        hr {
            border-style: dotted none none ;
            border-color: #9ba4b4;
            border-width: 10px;
            width: 3%;
        }